h1 {
    visibility: hidden;
    font-size: 54pt;
    display: inline;
}

body {
    text-align: center;
}

.bwrapper {
    display: flex;
    justify-content: center;
}

.h1wrapper {
    display: block;
}

#welcome {
    visibility: visible;
    font-size: 36pt;
    display: block;
}

#money {
    color: red;
}
